.main{
    position: relative;
    background: none;
    margin-top: 0;
}

.product_cards_wrapper_section{
    padding: calc(var(--real-vh, 1vh) * 7.5) 0;
}

@media(min-width: 768px){
    .product_cards_wrapper_section{
        padding: calc(var(--real-vh, 1vh) * 15) 0;
    }
}