.main{
    position: relative;
    background: none;
    margin-top: 0;
}

.product_cards_wrapper_section{
    padding: 7.5vh 0;
}

@media(min-width: 768px){
    .product_cards_wrapper_section{
        padding: 15vh 0;
    }
}