.main{
    padding: calc(var(--real-vh, 1vh) * 25) 0;
    padding-bottom: calc(var(--real-vh, 1vh) * 5);
}
.section_desc_container{
    text-align: center;
}
.faq_cards_section{
    width: 80%;
    max-width: 500px;
    margin-top: calc(var(--real-vh, 1vh) * 10);
}
.section_bg_image{
    z-index: -1;
}
