.footer_element{
    width: 100%;
    background-color: var(--green-color);
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "footer_logo_container"
        "footer_nav_container"
        "footer_contact_container"
        "footer_media_container";
    padding: 5vh 15vw;
    position: relative;
    z-index: 1000;
    min-height: 100svh;
    align-items: flex-start;
}
.footer_logo_container {
    grid-area: footer_logo_container;
}

.footer_nav_container {
    grid-area: footer_nav_container;
}

.footer_payment_container {
    grid-area: footer_payment_container;
}

.footer_contact_container {
    grid-area: footer_contact_container;
}
.footer_media_container {
    grid-area: footer_media_container;
}
.footer_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
.footer_title{
    font-size: large;
    color: var(--cream-color);
    margin-bottom: 10px;
}
.footer_list{
    text-align: center;
}
.footer_list li{
    list-style: none;
    text-align: center;
    margin-bottom: 5px;
}

.footer_list li a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_element i{
    font-size: clamp(1.5rem, 2vw + .35rem, 2.2rem);
    /* color: var(--cream-color); */
    margin-right: 5px;
}
.footer_payment_container .footer_list{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer_payment_container img{
    width: 25px;
 
}

.footer_logo_container{
    height: 7.5svh;
    margin-bottom: 2.5svh;
}


@media (min-width:768px){
    .footer_element {
        grid-template-columns: 1fr 1fr 1fr; /* Ajusta proporción */
        grid-template-areas:
            "footer_nav_container footer_contact_container footer_media_container"
            "footer_logo_container footer_logo_container footer_logo_container";
        gap: 1rem 2rem;
        min-height: unset;
    }
    
    .footer_logo_container {
        margin-top: 5svh;
        height: 15svh;
    }
}
@media (min-width: 1024px) { /* Desktop (opcional) */
    
}