.custom_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input_container {
    margin: 3% 0;
}

.input_container input {
    width: 100%;
    padding: 15px;
    
}

.form_container select{
    padding: 7.5px;
}
.form_container input,
.form_container select{
    outline: 0;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid var(--dark-grey-color);
}
.form_container .button_container{
    margin-top: 2.5svh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.form_container .input_container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}
.form_warning {
    color: #d9534f;
    font-size: 0.9rem;
    margin-top: 12px;
    text-align: center;
  }
  