.header_hidden {
    animation: fadeOutUp 0.4s ease;
    visibility: hidden;
}
  
.header.header_active {
    /* Para cuando scrollean para arriba */
    animation: fadeInDown 0.4s ease;
    visibility: visible;
    background-color: #fff;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 1.5vh 0;
    transition: visibility 0.2s ease-out, background-color .5s ease;
    position: fixed;
    top: 0;
    z-index: 100; /* Asegúrate de que el header esté encima del contenido */
    background-color: transparent;
}
.header *{
    transition: color .3s;
}
.logo_container{
    width: 25%;
    height: 100%;
    position: relative;
}
.logo{
    position: absolute;
    transition: opacity .4s;
}
.logo_dark{
    opacity: 0;
}

.header_active .logo_dark{
    opacity: 1;
}
.header_active .logo_white{
    opacity: 0;
}
.header .nav_brand_link{
    color: #000;
    font-size: clamp(1rem, 2vw + .2rem, 1.25rem);
}
.header .nav_brand_link{
    color: var(--cream-color);
}
.nav_brands_container{
    width: 50%;
    display: flex;
   justify-content: space-evenly;
}

.header_active .nav_brand_link{
    color: #000;
}
.nav_actions_container{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav_actions_container i{
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}
.header_active .nav_actions_container *{
    color: #000;
}
.cart_icon_container{
    position: relative;
}
.cart_items_length_span{
    position: absolute;
    color: #fff;
    font-size: 1rem;
    top: -45%;
    right: -30%;
    font-weight: 600;
}




/* ANIMAciónES */
@keyframes fadeInDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeOutUp {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
  
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }