.header_hidden {
  animation: fadeOutUpp 0.4s ease;
  /* opacity: 0; */
}
.fade_in_up.header_hidden {
  opacity: 0;
  transform: translateY(-100%);
}
.header_element.header_active {
  /* Para cuando scrollean para arriba */
  animation: fadeInDownn 0.4s ease;
  opacity: 1;
  background-color: #fff;
}
.header_element {
  width: 100%;
  display: flex;
  align-items: center;
  height: 15svh;
  padding: 2.5vh 0;
  transition: opacity 0.2s ease-out, background-color 0.5s ease, transform 1s;
  position: fixed;
  top: 0;
  z-index: 1000; /* Asegúrate de que el .header_element esté encima del contenido */
  background-color: transparent;
  justify-content: center;
}
.header_element * {
  transition: color 0.3s;
}
.logo_container {
  width: 60%;
  height: 100%;
  position: relative;
}
.logo {
  position: absolute;
  transition: opacity 0.4s;
  left: 50%;
  transform: translateX(-50%);
  max-width: 120px;
}
.logo_dark {
  opacity: 0;
}

.header_active .logo_dark {
  opacity: 1;
}
.header_active .logo_white {
  opacity: 1;
}
.header_element .nav_brand_link {
  color: #000;
  font-size: clamp(1rem, 2vw + 0.2rem, 1.25rem);
}
.header_element .nav_brand_link {
  color: var(--cream-color);
}
.nav_brands_container {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.header_active .nav_brand_link {
  color: #000;
}
.nav_actions_container {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header_element i {
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
}
.header_active .nav_actions_container * {
  color: #000;
}
.cart_icon_container {
  position: absolute;
  left: 5%;
}

.cart_items_length_span {
  position: absolute;
  color: #fff;
  font-size: 1rem;
  top: -45%;
  right: -30%;
  font-weight: 600;
}

/* Para el logo-hamburguesa */
.menu_logo {
  cursor: pointer;
  position: absolute;
  right: 5%;
}
.menu_logo i {
  font-size: 1.75rem;
  color: #fff;
}
.header_active i,
.header_active * {
  color: #000;
}

/* Estilos del menú móvil */
.mobile_menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100dvh;
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transition: right 0.3s ease-in-out;
  z-index: 2000;
  padding-left: 40px;
}

.mobile_menu_active {
  right: 0;
}
.mobile_menu_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_menu {
  font-size: 2rem;
  cursor: pointer;
  height: 5%;
}

.mobile_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 70%;
}

.mobile_nav a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.mobile_actions {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff;
}
.mobile_actions > div {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff;
}
.btn_login,
.btn_register {
  background: none;
  color: white;
  font-size: 1rem;
  padding: 10px 5px;
  cursor: pointer;
  border: none;
}
.nav_brands_container,
.nav_actions_container {
  display: none;
}
.mobile_menu .mobile_nav_list li {
  list-style: none;
  margin-bottom: 5px;
}
.mobile_nav_list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.mobile_nav_list > .ui.inverted.segment {
  background: none;
  padding: 0;
  margin: 0;
}
.menu_nav_font {
  font-size: 1.2rem !important;
}
.mobile_nav_list > .ui.inverted.segment .content {
  padding-left: 50px !important;
}
.mobile_nav_list > .ui.inverted.segment .content a {
  font-size: 1.15rem;
}
.non_style_item {
  list-style: none;
}
.coming_soon_link {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.coming_soon_badge {
  font-size: 0.7rem;
  background-color: var(--green-color) !important; /* o var(--red-color) */
  color: white !important;
  padding: 2px 6px;
  border-radius: 5px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  .header_element {
    justify-content: space-between;
  }
  .cart_icon_container.mobile {
    display: none;
  }
  .cart_icon_container {
    position: relative;
  }
  .nav_brands_container,
  .nav_actions_container {
    display: flex;
  }
  .menu_logo,
  .mobile_menu {
    display: none;
  }
  .logo_container {
    width: 25%;
  }
  .logo {
    max-width: 150px;
  }
  .unlogged_user_container {
    border: none;
    width: fit-content;
  }
}
/* ANIMAciónES */
@keyframes fadeInDownn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOutUpp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
