.hero {
  position: relative;
  background-color: black;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://https://web-production-f9105.up.railway.app//img/index.jpg');
  opacity: 1; /* Inicialmente invisible */
  transition: opacity 1s ease-in-out; /* Aparece suavemente */
}

/* Overlay oscuro, inicialmente invisible */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 0;
  opacity: 0; /* Invisible inicialmente */
  transition: opacity 1s ease-in-out; /* Aparece suavemente */
}
.hero.show_overlay::before {
  opacity: 1;
}
.page_title,
.hero_buttons_container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  position: relative;
  z-index: 2; /* Para que esté por encima del overlay */
}

/* Títulos */
.hero.show_title .page_title {
  opacity: 1;
  transform: translateY(0);
}

/* Botones */
.hero.show_buttons .hero_buttons_container {
  opacity: 1;
  transform: translateY(0);
}

.hero_title_container {
  width: 100%;
  height: fit-content;
  text-align: center;
  position: relative;
}
.page_title {
  font-size: 2.25rem;
  color: #fff;
}
.hero_buttons_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
  position: absolute;
  bottom: 15%;
  gap: 30px;
}
.hero_buttons_container a.ui.button {
  background-color: var(--cream-color);
  background-color: var(--green-color);
  background-color: var(--green-cream-color);
  /* color: #fff; */
}
.buttons_container {
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: space-evenly;
}
.buttons_container a.ui.buttons {
  width: 42.5%;
}
.brand_card_wrapper,
.drop_card_wrapper {
  width: 100%;
  height: fit-content;
}
.section_wrapper {
  display: grid;
  gap: 20px; /* Espaciado entre tarjetas */
  justify-content: center;
  grid-template-columns: 1fr;
  margin-top: 5vh;
  position: relative;
  z-index: 5;
}
.section_wrapper_card {
  max-width: 350px;
  margin: 0 auto; /* Centrar si es 1 por fila */
}
.brand_cards_section,
.drop_cards_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}
.brand_cards_section {
  background: linear-gradient(
    to bottom,
    var(--green-color) 0%,
    var(--green-color) calc(100% - 10px),
    #000 100%
  );
  position: relative;
}
.drop_cards_section {
  background: linear-gradient(
    to bottom,
    #000 0%,
    #000 calc(100% - 10px),
    var(--green-color) 100%
  );
  position: relative;
}
.section_title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  padding: 0 2.5vw;
}
.section_logo {
  width: 35px;
  margin-bottom: 2vh;
  height: auto;
}
.section_title {
  font-size: clamp(2rem, 2vw + 0.2rem, 2.5rem);
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
.section_desc {
  font-size: medium;
  color: #000;
}
.drop_cards_section .section_title,
.drop_cards_section .section_desc_container * {
  color: var(--green-color);
}
.drop_cards_section .section_divider_line {
  background-color: var(--green-color);
}
.section_divider_line {
  width: 50px;
  height: 3.5px;
  background-color: #000;
}
.section_desc_container {
  margin: 4.5vh 0;
  text-align: center;
  padding: 0 2.5vw;
}
@media (min-width: 768px) {
  .section_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .section_wrapper_card {
    max-width: 400px;
    margin: auto; /* Centrar dentro del grid */
  }
  .section_desc {
    font-size: clamp(1.1rem, 2vw + 0.15rem, 1.3rem);
  }
}
@media (min-width: 1024px) {
  .hero {
    height: 100vh; /* Ocupa toda la altura del viewport */
    background-attachment: fixed; /* 🔥 Efecto parallax */
    background-size: cover;
    background-position: center 40%;
  }
  .brand_card_wrapper,
  .drop_card_wrapper {
    padding: 0 7.5vw;
    row-gap: 5vh;
  }
  .section_wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .section_wrapper_card {
    margin: auto;
  }
}
