.main_content_wrapper.user_orders_wrapper{
    flex-direction: column;
    align-items: center;
}
.order_card{
    position: relative;
    display: flex;
    box-shadow: 2px 5px 3px var(--box-shadow-color);
    height: auto;
    background-color: #fff;
    overflow: hidden;
    width: 95%;
    max-width: 800px;
    flex-direction: column;
    box-shadow: 1px 2px 3px var(--box-shadow-color);
    border: 1px solid var(--black-transparent-color);
    border-radius: 1rem;
    cursor: pointer;
}
.order_card:hover{
    opacity: .8;
}
.card_top_content{
    height: fit-content;
    padding: 10px;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--black-transparent-color);
    display: flex;
    justify-content: space-between;
}

.card_top_content > p{
    font-weight: 600;
    font-size: clamp(1rem, 2vw + .05rem, 1.2rem);
    margin: 0;
}
.card_order_item_container{
    height: 8rem;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid var(--black-transparent-color);
}
.order_card .card_image{
    padding: 0;
    width: 30%;
    margin-right: 15px;
    max-width: 70px;
}
.order_card .card_image img{
    object-fit: cover;
}
.order_card .card_content{
    padding-top: 0;
    height: 100%;
    justify-content: space-between;
}
.order_card .card_header{
    font-size: clamp(.85rem, 2vw + .2rem, 1.2rem);
}
.order_card .card_desc,
.order_card .card_price{
    font-size: small;
}


@media(min-width:768px){
    .order_card .card_price{
        font-size: medium;
    }
    .card_order_item_container{
        height: 8.5rem;
    }
    .order_card .card_image{
        width: 35%;
    }
}
@media(min-width:1024px){
  }