.main {
  margin: calc(var(--real-vh, 1vh) * 20) 0;
}
.reset_password_section {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.password-input-wrapper {
  position: relative;
}

.password-input-wrapper input {
  width: 100%;
  padding-right: 2.5rem; /* espacio para el icono */
}

.password-input-wrapper .toggle-password {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.6;
}

.password-input-wrapper .toggle-password:hover {
  opacity: 1;
}
