.main {
  background-color: #fff;
}
.section_title_container *{
    /* color: var(--cream-color); */
    /* margin-bottom: 0; */
}
.section_title_container{
    margin-bottom: 2.5vh;
}
.section_title{
    font-size: x-large;
}
.section_logo{
    width: 50px;
    margin-bottom: 5vh;
    display: none;
}
.section_title_container.brand_title_container{
    margin-top: 5vh;
}

.product_list_buttons_container {
  height: fit-content;
  width: 100%;
  margin-top: 18.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 5vh;
}
.buttons_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.product_list_btn {
  padding: 10px 15px;
  border-radius: 10px;
  background: var(--green-color);
  color: var(--cream-color);
  font-size: 1.2rem;
  
}
.brand_btn img{
    transition: filter .4s;
}
.brand_btn:hover > img{
    filter: invert(1);
}
.product_list_btn.brand_btn{
    width: 50px;
    aspect-ratio: 1/.55;
    border-radius: 5px;
    padding: 7.5px 10px;
}

.product_cards_wrapper_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; /* Espacio entre las tarjetas */
    width: 80%;
    justify-content: center;
    padding: 20px;
    
}

@media(min-width: 768px){
    .product_list_btn.brand_btn{
        width: 80px;
        /* aspect-ratio: 1/.55; */
        /* border-radius: 5px; */
        padding: 10px 20px;
    }
    .product_cards_wrapper_section {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width: 1024px){
    .product_cards_wrapper_section {
        grid-template-columns: repeat(3, 1fr);
    }
}
