.product_card{
    width: 90vw;
    max-width: 240px;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    overflow: hidden;
    border-radius: 1.25rem;
    margin-bottom: 5vh;
    border: 2px solid var(--green-color);
}
.card_images_wrapper{
    position: relative;
    height: 60%;
    width: 100%;
}
.product_card .card_image{
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
}
.sale_tag {
    position: absolute;
    top: 10px;
    left: -14%;
    background-color: var(--red-color);
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 40px;
    transform: rotate(-45deg);
    z-index: 10;
    pointer-events: none;
    /* width: 0rem; */
    text-align: center;
  }
.product_card .card_main_image,
.card_alternative_image{
    transition: opacity 0.13s ease-in-out; /* Suave transición */
    width: 100%;
    height: 100%;
    z-index: 1; /* Mantener la imagen principal por encima inicialmente */
    opacity: 0;

}
.card_alternative_image{
    position: absolute;
    inset: 0;
    z-index: 10;
    opacity: 0;
    transition: opacity .3s;
}
.card_alternative_image_active,
.product_card .card_main_image_active{
    opacity: 1;
}
.product_card img{
    object-fit: cover;
}
.card_other_image{
    position: absolute;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    bottom: -2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.card_other_image img{
    width: 22.5%;
    border: 2px solid var(--green-cream-color);
    cursor: pointer; /* Indica interactividad */
    transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out; /* Transición suave */
}
.card_information{
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.card_information *{
    text-align: center;
}
.product_card .card_price{
    position: static;
    transform: none;
}
.product_card .ui.button{
    background-color: var(--green-cream-color);
}
.product_card.discount_card .original_price{
    text-decoration: line-through;
    font-size: smaller;
    color: var(--dark-grey-color);
}
.discount_price{
    color: var(--green-color);
}
.discount_info{
    color: var(--green-color);
    font-size: small;
}
@media(min-width:1024px){
    .product_card{
        width: 30vw;
    }
    
}