<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productCard.css" />
    <link rel="stylesheet" href="/css/dobleusoCard.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/brandProductList.css" />
    <script type="module" src="/scripts/brandProductList.js"></script>
    <title>Dobleclover</title>
</head>
<body data-page_name="brandProductList" class="noScroll">
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/brandLoaderOverlay.ejs') %>
    <div class="section_bg_image" alt="tramado.png"></div>
    <div class="black_bg"></div>
    <main class="main">
      <section class="brand_banner_section">
      </section>
      <section class="product_cards_wrapper_section">

      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>