<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/brandCard.css" />
    <link rel="stylesheet" href="/css/dropCard.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <script type="module" src="/scripts/index.js"></script>
    <title>DobleClover</title>
  </head>
  <body data-page_name="index">
    <%- include('./partials/header.ejs') %>
    <section class="hero">
        <!-- <div class="overlay"></div> -->
        <div class="hero_title_container">
            <h1 class="page_title">ROPA IMPORTADA<br>STREETWEAR</h1>
        </div>
        <div class="hero_buttons_container">
            <a href="/tienda" class="ui button shop_button">Tienda online</a>
            <div class="buttons_container">
                <a href="" class="ui button about_us_button">¿Quiénes somos?</a>
                <a href="" class="ui button faq_button">Preguntas frecuentes</a>
            </div>
        </div>
    </section>
    <main class="main">
      <section class="brand_cards_section green_section animated_section">
        <div class="section_bg_image" alt="tramado.webp"></div>
        <div class="section_title_container">
          <img
            src="./img/logo/branding/Variante_Negra/LOGOS-2.png"
            alt=""
            class="section_logo"
          />
          <h4 class="section_title">Nuestras Favoritas</h4>
        </div>
        <div class="section_divider_line"></div>
        <div class="section_desc_container">
          <p class="section_desc">
            Acá en este sector vas a poder ver cuales son nuestras marcas
            favoritas que le recomendamos a nuestro público.
          </p>
        </div>
        
        <div class="brand_card_wrapper section_wrapper"></div>
      </section>
      <section class="drop_cards_section black_section animated_section" >
        <div class="section_bg_image inverted" alt="tramado.png"></div>
        <div class="section_title_container" >
          <img
            src="./img/logo/branding/Variante_Verde/Icono.png"
            alt=""
            class="section_logo"
          />
          <h4 class="section_title">Drops Unicos</h4>
        </div>
        <div class="section_divider_line"></div>
        <div class="section_desc_container" id="drop_section">
          <p class="section_desc">
            Drops exclusivos, para clientes exclusivos
          </p>
        </div>
        <div class="drop_card_wrapper section_wrapper" ></div>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
