<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/passwordReset.css" />
    <link rel="stylesheet" href="/css/invertedHeader.css" />
    <script src="/scripts/passwordReset.js" type="module"></script>
    <title>Modificar Contraseña</title>
  </head>
  <body data-page_name="passwordReset">
    <%- include ('./partials/header.ejs') %>
    <main class="main">
      <section class="reset_password_section">
        <form class="ui form reset_password_form">
          <h2 class="ui header">Restablecer contraseña</h2>

          <div class="field password-field">
            <label>Contraseña nueva</label>
            <div class="password-input-wrapper icon input">
              <input
                type="password"
                name="user-password"
                placeholder="Contraseña nueva"
              />
              <i
                class="eye icon toggle-password"
                data-target="user-password"
              ></i>
            </div>
          </div>

          <div class="field">
            <label>Repetir contraseña</label>
            <div class="password-input-wrapper icon input">
              <input
                type="password"
                name="user-re-password"
                placeholder="Repetir contraseña"
              />
              <i
                class="eye icon toggle-password"
                data-target="user-re-password"
              ></i>
            </div>
          </div>

          <div class="ui error message"></div>

          <button type="submit" class="ui green button">
            Guardar contraseña
          </button>
        </form>
      </section>
    </main>

    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
