<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/postOrder.css">
    <link rel="stylesheet" href="/css/invertedHeader.css">
    <script type="module" src="/scripts/postOrder.js"></script>
    <title>¡Gracias por tu compra!</title>
</head>
<body data-page_name = "postOrder">
    <%- include('./partials/header.ejs') %>
    <main class="main">
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>