<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/userProfile.css" />
    <link rel="stylesheet" href="/css/userMenuBtn.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/userCard.css" />
    <link rel="stylesheet" href="/css/orderCard.css" />
    <link rel="stylesheet" href="/css/phoneCard.css" />
    <link rel="stylesheet" href="/css/addressCard.css" />
    <link rel="stylesheet" href="/css/adminProductCard.css" />
    <link rel="stylesheet" href="/css/adminProductsToolbar.css" />
    <link rel="stylesheet" href="/css/invertedHeader.css" />
    <script type="module" src="/scripts/userProfile.js"></script>
    <title>Dashboard</title>
  </head>

  <body data-page_name="profile">
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/brandLoaderOverlay.ejs') %>
    <main class="main">
      <div class="main_content_wrapper user_orders_wrapper hidden"></div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
