<%- include('./messages.ejs') %>
<footer class="footer_element">
    <div class="footer_logo_container">
        <img src="/img/logo/branding/Variante_Crema/Icono.png" alt="">
    </div>
    <div class="footer_section footer_nav_container">
        <div class="footer_title">Navegacion</div>
        <div class="footer_list">
            <li><a href="/">Inicio</a></li>
            <li><a href="/tienda">Tienda</a></li>
            <li><a href="/dobleuso">DobleUso</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/faq">FAQ</a></li>
        </div>
    </div>
    <div class="footer_section footer_contact_container">
        <div class="footer_title">Contacto</div>
        <div class="footer_list">
            <li><a href="https://wa.me/5491161978616" target="_blank"><i class='bx bxl-whatsapp'></i> +54 9 11 6197-8616</a></li>
            <li><a href="https://wa.me/5491158817312" target="_blank"><i class='bx bxl-whatsapp'></i> +54 9 11 5881-7312</a></li>
            <li><a href="mailto:dobleclover@gmail.com" target="_blank"><i class='bx bx-envelope' ></i> dobleclover@gmail.com</a></li>
        </div>
    </div>
    <div class="footer_section footer_media_container">
        <div class="footer_title">Redes</div>
        <div class="footer_list">
            <li><a href="https://www.instagram.com/dobleclover_/" target="_blank"><i class='bx bxl-instagram' ></i> @dobleclover_</a></li>
            <li><a href="https://www.tiktok.com/@doble.clover?_t=ZM-8ubEuQxWoOl&_r=1" target="_blank"><i class='bx bxl-tiktok' ></i> @doble.clover</a></li>
        </div>
    </div>
</footer>