<div class="header_top_info">
    <p>DROP 3.3 YA DISPONIBLE - ENVIOS A TODO EL PAIS</p>
</div>
<header class="header header_dark">
    <div class="logo_container">
        <img src="/img/logo/Variante_Crema/Logo_Icono.png" alt="logo clear" class="logo logo_white">
        <img src="/img/logo/Variante_Oscura/Logo_Icono.png" alt="logo clear" class="logo logo_dark">
    </div>
    <div class="nav_brands_container">
        <a href="#" class="nav_brand_link jordan">Jordan</a>
        <a href="#" class="nav_brand_link nike">Nike</a>
        <a href="#" class="nav_brand_link adidas">Adidas</a>
        <a href="#" class="nav_brand_link">Lacoste</a>
        <a href="#" class="nav_brand_link">Polo</a>
        <a href="#" class="nav_brand_link">New Era</a>
        <a href="#" class="nav_brand_link">Levis</a>
    </div>
    <div class="nav_actions_container"></div>
</header>