<header class="header_element">
  <a class="cart_icon_container mobile" href="/carro">
    <i class="bx bx-shopping-bag cart_icon"></i>
    <span class="cart_items_length_span">0</span>
  </a>
  <div class="logo_container">
    <a href="/"><img
      src="/img/logo/branding/Variante_Crema/Logo_Icono.png"
      alt="logo clear"
      class="logo logo_white"
    /></a>
    <a href="/"><img
      src="/img/logo/branding/Variante_Oscura/Logo_Icono.png"
      alt="logo clear"
      class="logo logo_dark"
    /></a>
  </div>
  <div class="nav_brands_container">
    <a href="#" class="nav_brand_link">Jordan</a>
    <a href="#" class="nav_brand_link">Nike</a>
    <a href="#" class="nav_brand_link">Adidas</a>
    <a href="#" class="nav_brand_link">Lacoste</a>
    <a href="#" class="nav_brand_link">Polo</a>
    <a href="#" class="nav_brand_link">New Era</a>
    <a href="#" class="nav_brand_link">Levis</a>
  </div>
  <div class="nav_actions_container">
    <a class="cart_icon_container" href="/carro">
      <i class="bx bx-shopping-bag cart_icon"></i>
      <span class="cart_items_length_span">0</span>
    </a>
    <i class="bx bx-user unlogged_user_icon unlogged_user_container hidden"></i>
    <div
          class="ui menu header_dropdown user_action_item user_initials_container hidden"
        ></div>
  </div>
  <div class="menu_logo">
    <i class="bx bx-menu"></i>
  </div>
</header>
<!-- Menú móvil -->
<div class="mobile_menu">
  <div class="mobile_menu_header">
    <i class="bx bx-x close_menu"></i>
  </div>

  <nav class="mobile_nav">
    <ul class="mobile_nav_list">
      <li class="ui inverted segment">
        <div class="ui inverted accordion">
          <div class="title">
            <i class="dropdown icon"></i>
            <span class="menu_nav_font">Marcas</span>
          </div>
          <div class="content">
            <ul>
              <li class="item"><a href="#">Jordan</a></li>
              <li class="item"><a href="#">Nike</a></li>
              <li class="item"><a href="#">Adidas</a></li>
              <li class="item"><a href="#">Polo</a></li>
              <li class="item"><a href="#">Levis</a></li>
              <li class="item non_style_item margin_top"><a href="#">Ver Todas</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="ui inverted segment">
        <div class="ui inverted accordion">
          <div class="title">
            <i class="dropdown icon"></i>
            <span class="menu_nav_font">Drops</span>
          </div>
          <div class="content">
            <ul>
              <li class="item"><a href="#">Drop 1</a></li>
              <li class="item"><a href="#">Drop 2</a></li>
              <li class="item"><a href="#">Drop 3</a></li>
              <li class="item"><a href="#">Drop 4</a></li>
              <li class="item"><a href="#">Drop 5</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li><a href="#" class="menu_nav_font">Preguntas Frecuentes</a></li>
      <li><a href="#" class="menu_nav_font">¿Quiénes somos?</a></li>
    </ul>
  </nav>

  <div class="mobile_actions">
    <div class="unlogged_user_container">
      <button class="btn_login unlogged_user_icon"><i class="bx bx-user"></i> Iniciar sesión</button>
      <button class="btn_register">Registrarse</button>
    </div>
    <a
          class="mobile_menu_logged_container" href="/perfil"
        >
      </a>
  </div>
</div>
