<header class="header">
  <div class="logo_container">
    <img
      src="/img/logo/branding/Variante_Crema/Logo_Icono.png"
      alt="logo clear"
      class="logo logo_white"
    />
    <img
      src="/img/logo/branding/Variante_Oscura/Logo_Icono.png"
      alt="logo clear"
      class="logo logo_dark"
    />
  </div>
  <div class="nav_brands_container">

    <a href="#" class="nav_brand_link">Jordan</a>
        <a href="#" class="nav_brand_link">Nike</a>
        <a href="#" class="nav_brand_link">Adidas</a>
        <a href="#" class="nav_brand_link">Lacoste</a>
        <a href="#" class="nav_brand_link">Polo</a>
        <a href="#" class="nav_brand_link">New Era</a>
        <a href="#" class="nav_brand_link">Levis</a>
  </div>
  <div class="nav_actions_container">
    <div class="cart_icon_container">
      <i class="bx bx-shopping-bag cart_icon"></i>
      <span class="cart_items_length_span">0</span>
    </div>
    <i class="bx bx-user unlogged_user_icon"></i>
  </div>
</header>
