<div class="copy_p_msg ui red message"></div>
<div class="view_message_container">
    <div class="ui positive huge message hidden">
      <div class="header"></div>
    </div>
    <div class="ui negative huge message hidden">
      <div class="header"></div>
    </div>
  </div>